<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALANCE ACTUAL</title>
    
</head>
<body>
    
    <H1>BALANCE ACTUAL</H1>
    <ul>
        <li>Ingresos</li>
        <li>Egresos</li>
        <li>Balance</li>
        <li>Ultimos 10 registros</li>
    </ul>
</body>
</html>